<!DOCTYPE html>
<html>
  <head>
    <title>SoutParksWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <div class="title">
        <a href="/"> South Parks Quotes</a>
      </div>
      <div class="new-article">
        <a href="/articles/new">New Article</a>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
